[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
python-dotenv = "*"
werkzeug = "*"
jinja2 = "*"
markupsafe = "*"
itsdangerous = "*"
click = "*"
blinker = "*"
markdown2 = "*"
panel = "*"
langchain-community = "*"
transformers = "*"
copyparty = "*"
bugsink = "*"
# Adding vulnerable packages for demonstration
cryptography = "*"
urllib3 = "*"
pyyaml = "*"
lxml = "*"
paramiko = "*"
django = "*"
celery = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.13"
